<div class="nav-header {{$root.currentUser.role}}-header">
    <img src="app/images/image_dp_latam.png" /><h3 class="details-title">{{vm.heading}}</h3>
    <i class="fa fa-times pull-right" ng-click="vm.closeNav()"></i>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="" data-target="#tab1" data-toggle="tab">Details</a></li>
        <li><a href="" data-target="#tab2" data-toggle="tab">Reports</a></li>
        <li><a href="" data-target="#tab3" data-toggle="tab">Social</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="list-group">
                <div class="list-inline list-label">ISRC</div>
                <div class="list-inline list-detail">{{vm.data.isrc}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Artist</div>
                <div class="list-inline list-detail">{{vm.data.artist}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Track</div>
                <div class="list-inline list-detail">{{vm.data.trackname}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Year</div>
                <div class="list-inline list-detail">{{vm.data.year}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Duration</div>
                <div class="list-inline list-detail">{{vm.data.seconds}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Disk</div>
                <div class="list-inline list-detail">{{vm.data.disk}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Date</div>
                <div class="list-inline list-detail">{{vm.data.launchdate}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Version</div>
                <div class="list-inline list-detail">{{vm.data.version}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Data</div>
                <div class="list-inline list-detail">{{vm.data.bio}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Media</div>
                <div class="list-inline list-detail">{{vm.data.media}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Album Artist</div>
                <div class="list-inline list-detail">{{vm.data.artist}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Label</div>
                <div class="list-inline list-detail">{{vm.data.label}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Asin</div>
                <div class="list-inline list-detail">{{vm.data.asin}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Barcode</div>
                <div class="list-inline list-detail">{{vm.data.barcode}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Catalog Number</div>
                <div class="list-inline list-detail">{{vm.data.catalognumber}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Release Status</div>
                <div class="list-inline list-detail">{{vm.data.releasestatus}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Release Type</div>
                <div class="list-inline list-detail">{{vm.data.releasetype}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Script</div>
                <div class="list-inline list-detail">{{vm.data.script}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Original Year</div>
                <div class="list-inline list-detail">{{vm.data.originalyear}}</div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class="profile-picture">
                <img src="app/images/image_latam.png" />
            </div>
            <div class="report-pane">
                <button type="button" class="btn btn-default btn-report">Song Sales by Date Range Comparison Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default btn-report">Date over Date Song Comparison Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default btn-report">Songs Sales by Territory / Territory Group Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default btn-report">Songs by City Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div class="social-pane">
                <img src="app/images/image_tab_social.png" />
            </div>
        </div>
    </div>
</div>