<div class="song-over-song report-panel" ng-init="vm.initializeController()">
    <div class="panel panel-default reports">
        <div class="panel-heading {{$root.currentUser.role}}-heading clickable">
            <h3 class="panel-title">Song Over Song Date Comparison</h3>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtSearchSong" class="heading">Select Songs/Song List</label>
                </div>
                <div class="col-md-12">
                    <select-song selected-song="vm.selectedSong" multiple-songs="true" error-message="vm.songError"></select-song>
                </div>
            </div>
            <div class="row" ng-if="vm.selectedSong.length">
                <div class="col-md-12">
                    <label class="heading">Selected song:</label>
                    <ul class="selected-song-list">
                        <li class="selected-song {{$root.currentUser.role}}-list" ng-repeat="song in vm.selectedSong"><span ng-if="song.type=='list'"><i class="fa fa-th-list"></i>{{song.songListName}}</span><span ng-if="!song.type"><i class="fa fa-music" aria-hidden="true"></i>{{song.trackname}}</span>
                            <i class="fa fa-times pull-right" ng-click="vm.removeSong($index)"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="main-info" class="well">
                        <div class="col-md-6 left-panel">
                            <div class="date-time-panel">
                                <date-time-range range="vm.range" index="1" range1-error="vm.rangeError"></date-time-range>
                            </div>
                            <div class="selection-panel">
                                <label for="optDataRepresent">Represent Data as:</label>
                                <select id="optDataRepresent" ng-model="vm.representData">
                                    <option value="1">Aggregate Songs Data</option>
                                    <option value="2" selected>Seperate Song Data</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 right-panel">
                            <div class="territories">
                                <label class="heading">Select Territories/Territory Groups</label>
                                <multi-select-box item-groups="vm.territoryGroups" items="vm.territories" selected-item-groups="vm.selectedTerritoryGroups"
                                    selected-items="vm.selectedTerritories"></multi-select-box>
                            </div>
                            <div class="retailers ">
                                <label class="heading">Select Retailers</label>
                                <multi-select-box items="vm.retailers" selected-items="vm.selectedRetailers"></multi-select-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="confirmSubmit" type="submit" class="btn btn-success" ng-click="vm.getChart()">Get Information</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-if="vm.songError">
                    <div class="alert alert-danger" role="alert">
                        {{vm.songError}}
                    </div>
                </div>
                <div class="col-md-12" ng-if="vm.duplicateSongError">
                    <div class="alert alert-danger" role="alert">
                        {{vm.duplicateSongError}}
                    </div>
                </div>
                <div class="col-md-12" ng-if="vm.rangeError.dateError">
                    <div class="alert alert-danger" role="alert">
                        {{vm.rangeError.dateError}}
                    </div>
                </div>
                <div class="col-md-12" ng-if="vm.rangeError.timeError">
                    <div class="alert alert-danger" role="alert">
                        {{vm.rangeError.timeError}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" ng-if="vm.loading"></div>
    <div ng-if="!vm.loading">
        <div class="container-fluid" ng-if="!vm.theChart && vm.chart" style="padding-top:30px">
            <c3chart padding-right="60" padding-top="{{vm.legend.y}}" bindto-id="chartGroupDataPoints" chart-data="vm.datapoints" chart-columns="vm.datacolumns" chart-x="vm.datax" enable-zoom="{{vm.enableZoom}}"
                show-subchart="{{vm.toggleSubChart}}" callback-function="vm.handleCallback1" sort-data="null" empty-label="No data available for above selections">
                <chart-size chart-height="650" />
                <chart-tooltip show-tooltip="true" name-format-function="vm.formatTooltip" />
                <!-- <chart-bar ratio="0.5" /> -->
                <chart-axes values-x="x" />
                <chart-axis>
                    <chart-axis-x axis-position="outer-center" axis-type="category" />
                    <chart-axis-y axis-position="outer-middle" padding-bottom="0" axis-label="Sales" axis-type="category" axis-min="0" />
                    <chart-axis-x-tick tick-rotate="{{vm.tilt}}" tick-multiline="false" />
                </chart-axis>
                <chart-legend legend-position="inset" legend-inset="{{vm.legend.position}}" legend-inset-x="{{vm.legend.x}}" legend-inset-y="-{{vm.legend.y}}" legend-inset-step="{{vm.legend.step}}" />
            </c3chart>
        </div>
        <div class="container-fluid" ng-if="vm.theChart" style="padding-top:30px">
            <div class="container-fluid">
                <div class="col-md-12 report-heading">
                    <h3>{{vm.reportTitle}} - (<span ng-repeat="song in vm.selectedSong"><span ng-if="!$last">{{(song.type=='list') ? song.songListName : song.trackname}}, </span><span ng-if="$last">{{(song.type=='list') ? song.songListName : song.trackname}}</span></span>)</h3>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-2 fav-panel">
                    <i class="fa fa-heart fa-2x fav" aria-hidden="true" ng-click="fav = !fav" ng-class="{selected: fav}" title="Add to favorites"></i>
                    <i class="fa fa-2x fa-share-alt mail" ng-click="vm.sendMail()" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 graph-type-labels text-right">
                    <a class="btn btn-primary" ng-class="{'active': chartType.isActive, 'disabled': chartType.isDisabled}" ng-repeat="chartType in vm.chartTypes" ng-click="vm.changeChartType(chartType)">{{chartType.name}}</a>
                </div>
            </div>
            <div class="container-fluid" ng-if="!vm.theChart && vm.chart && !vm.showHeatMap" style="padding-top:30px" ng-class="{donutChart: vm.currentChartType == 'donut'}">
                <c3chart padding-right="60" padding-top="{{vm.legend.y}}" bindto-id="chartGroupDataPoints" chart-data="vm.datapoints" chart-columns="vm.datacolumns" chart-x="vm.datax" enable-zoom="{{vm.enableZoom}}"
                    show-subchart="{{vm.toggleSubChart}}" callback-function="vm.handleCallback1" sort-data="null" empty-label="No data available for above selections"
                    ng-if="!vm.showHeatMap">
                    <chart-size chart-height="700" />
                    <chart-tooltip show-tooltip="true" name-format-function="vm.formatTooltip" />
                    <!-- <chart-bar ratio="0.5" /> -->
                    <chart-axes values-x="x" />
                    <chart-axis>
                        <chart-axis-x axis-position="outer-center" axis-type="category" />
                        <chart-axis-y axis-position="outer-middle" padding-bottom="0" axis-label="Sales" axis-type="category" axis-min="0" />
                        <chart-axis-x-tick tick-rotate="{{vm.tilt}}" tick-multiline="false" />
                    </chart-axis>
                    <chart-legend legend-position="inset" legend-inset="{{vm.legend.position}}" legend-inset-x="{{vm.legend.x}}" legend-inset-y="-{{vm.legend.y}}" legend-inset-step="{{vm.legend.step}}" />
                </c3chart>
            </div>
            <div class="container-fluid c3graph" ng-show="vm.theChart && !vm.showHeatMap" style="padding-top:30px" ng-class="{donutChart: vm.currentChartType == 'donut'}">
                <c3chart padding-right="60" padding-top="{{vm.legend.y}}" bindto-id="chartGroupDataPoints" chart-data="vm.datapoints" chart-columns="vm.datacolumns" chart-x="vm.datax" enable-zoom="{{vm.enableZoom}}"
                    show-subchart="{{vm.toggleSubChart}}" callback-function="vm.handleCallback2" sort-data="null" empty-label="No data available for above selections">
                    <chart-tooltip show-tooltip="true" name-format-function="vm.formatTooltip" />
                    <chart-size chart-height="700" />
                    <!-- <chart-bar ratio="0.5" /> -->
                    <chart-axes values-x="x" />
                    <chart-axis>
                        <chart-axis-x axis-position="outer-center" axis-type="category" />
                        <chart-axis-y axis-position="outer-middle" padding-bottom="0" axis-label="Sales" axis-type="category" axis-min="0" />
                        <chart-axis-x-tick tick-rotate="{{vm.tilt}}" tick-multiline="false" />
                    </chart-axis>
                    <chart-legend legend-position="inset" legend-inset="{{vm.legend.position}}" legend-inset-x="{{vm.legend.x}}" legend-inset-y="-{{vm.legend.y}}" legend-inset-step="{{vm.legend.step}}" />
                </c3chart>
            </div>
            <div class="container-fluid" id="world-map" ng-if="vm.showHeatMap">
                <div class="pull-left">
                    <div ng-if="vm.representData=='2'" class="song-select-panel">
                        <label>Individual Song Sales:</label>
                        <select ng-model="vm.selectedValue" ng-options="item as item.name for item in vm.chart.salesPerSong" ng-change="vm.activefirst=true; vm.toggleMap(vm.selectedValue, false, 'dateRange1');"></select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div datamap data="vm.heatMapData" id="world-map-container" show-heat-map="vm.showHeatMap" ng-if="!vm.showNoData"> </div>
                <div ng-if="vm.showNoData" class="no-map-data">No data available for heatmap for the selected Date Range</div>
            </div>
        </div>
        <div ng-if="vm.chart && vm.drilldown">
            <div class="container drilldown" st-table="vm.chart.salesPerSong">
                <h3>Sales</h3>
                <!-- <h5><label>Expand all:
                    <input class="expandAll" type="checkbox" ng-model="vm.expandAll">
                </label></h5> -->
                <div ng-repeat-start="song in vm.chart.salesPerSong" ng-init="parentIndex = $index; vm.initRangeTotal(parentIndex); vm.setSongTotal(song, parentIndex);">
                    <div class="row song-header" ng-click="showDrilldown = showDrilldown ? false : true; vm.initRangeTotal(parentIndex)" ng-class="{drilldownOpen: (vm.expandAll || showDrilldown)}">
                        <div class="col-md-6">
                            <i class="glyphicon" ng-if="song.totalSongSales > 0" ng-class="(vm.expandAll || showDrilldown) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>{{song.name}}
                        </div>
                        <div class="col-md-6 text-right">
                            {{song.totalSongSales}}
                        </div>
                    </div>
                    <div class="row drilldown-content" ng-if="(vm.expandAll && song.totalSongSales > 0) || (showDrilldown && song.totalSongSales > 0)">
                        <div class="col-md-12">
                            <div class="content-wrapper tab-head">
                                <div class="col-lg-10" style="padding-left: 0px; padding-right: 0px">Sales Period ({{vm.chart.firstRange}}) - ({{vm.getTimeRangeInFormat(vm.chart.timerange1)}})</div>
                                <div class="col-lg-2 text-right">Sales</div>
                            </div>
                            <div ng-repeat="date in song.dateRange1" ng-init="vm.setRangeTotal(date, parentIndex)">
                                <div class="content-wrapper" ng-click="date.isExpanded = !date.isExpanded" ng-if="date.totalsales > 0">
                                    <div class="col-lg-9" style="padding-left: 0px"><i class="glyphicon" ng-if="date.totalsales > 0" ng-class="(vm.expandAll || date.isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>{{date.date}}</div>
                                    <div class="col-lg-3 text-right">{{date.totalsales}}</div>
                                </div>
                                <div class="content-wrapper tab-head" ng-if="(vm.expandAll && date.totalsales > 0) || date.isExpanded">
                                    <div class="col-lg-9" style="padding-left: 30px">Retailers</div>
                                    <div class="col-lg-3 text-right">Sales</div>
                                </div>
                                <div ng-repeat="retailer in date.orgRetailerList" ng-if="(vm.expandAll && date.totalsales > 0) || date.isExpanded">
                                    <div class="content-wrapper" ng-click="retailer.isExpanded = !retailer.isExpanded" ng-if="retailer.totalSaleRetailer > 0">
                                        <div class="col-lg-9" style="padding-left: 30px"><i class="glyphicon" ng-if="retailer.totalSaleRetailer > 0" ng-class="(vm.expandAll || retailer.isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>{{retailer.name}}</div>
                                        <div class="col-lg-3 text-right">{{retailer.totalSaleRetailer}}</div>
                                    </div>
                                    <div class="content-wrapper tab-head" ng-if="(vm.expandAll && retailer.totalSaleRetailer > 0) || retailer.isExpanded">
                                        <div class="col-lg-9" style="padding-left: 60px">Territories</div>
                                        <div class="col-lg-3 text-right">Sales</div>
                                    </div>
                                    <div ng-repeat="territory in retailer.territoryList" ng-if="(vm.expandAll && retailer.totalSaleRetailer > 0) || retailer.isExpanded">
                                        <div class="content-wrapper" ng-click="territory.isExpanded = !territory.isExpanded" ng-if="territory.totalSaleTerr > 0">
                                            <div class="col-lg-9" style="padding-left: 60px"><i class="glyphicon" ng-if="territory.totalSaleTerr > 0" ng-class="(vm.expandAll || territory.isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>{{territory.name}}</div>
                                            <div class="col-lg-3 text-right">{{territory.totalSaleTerr}}</div>
                                        </div>
                                        <div class="content-wrapper tab-head" ng-if="(vm.expandAll && territory.totalSaleTerr > 0) || territory.isExpanded">
                                            <div class="col-lg-9" style="padding-left: 90px">Time</div>
                                            <div class="col-lg-3 text-right">Sales</div>
                                        </div>
                                        <div ng-repeat="time in territory.terrSalesByHour" ng-if="(vm.expandAll && territory.totalSaleTerr > 0) || territory.isExpanded">
                                            <div class="content-wrapper" ng-if="time.totalSalesByHours > 0">
                                                <div class="col-lg-9" style="padding-left: 90px">{{vm.getTimeRangeInFormat(time.range)}}</div>
                                                <div class="col-lg-3 text-right">{{time.totalSalesByHours}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-wrapper tab-head" ng-if="vm['rangeSong' + $index + 'Sales'] > 0">
                                <div class="col-lg-9" style="padding-left: 0px">Total Range Sales</div>
                                <div class="col-lg-3 text-right"><strong>{{vm['rangeSong' + $index + 'Sales']}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat-end> </div>
                <div class="row footer tab-head" ng-if="vm.chart.salesPerSong.length > 1">
                    <div class="col-lg-6">Aggregate Song Sales</div>
                    <div class="col-lg-6 text-right">{{vm.totalSongSales}}</div>
                </div>
                <a class="btn btn-default btn-export" st-export>Export to Excel</a>
            </div>
        </div>
    </div>
</div>