.song-over-song {
    .retailer-break-check {
        vertical-align: top;
    }
    .loader {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        border: 10px solid #f3f3f3;
        /* Light grey */
        border-top: 10px solid #F5B041;
        /* orange */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .well {
        padding: 19px 12px;
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }
    .timepicker {
        padding-right: 10px;
        display: inline-block;
    }
    .tab-head {
        color: #337ab7;
        font-weight: 600;
    }
    .selected-song-label {
        padding: 0;
        list-style-type: none;
        margin: 0 0 2px 0;
        font-weight: 600;
        .selected-song {
            .fa-th-list::before,
            .fa-music::before {
                margin: 0 8px 0 0;
            }
        }
    }
    .fav-panel {
        i {
            cursor: pointer;
        }
        .fav {
            padding-left: 0;
        }
    }
    .graph-type-labels {
        margin-top: 0;
    }
    .report-heading {
        h3 {
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
    .drilldown {
        .btn-export {
            margin-top: 10px;
        }
        .song-header {
            cursor: pointer;
            font-size: 16px;
            padding: 10px 0;
            color: #1a1c22;
            &:hover {
                background-color: #F0F0F0;
            }
            &.drilldownOpen {
                background-color: #d3d3d3;
                &:hover {
                    background-color: #d3d3d3;
                }
            }
        }
        .footer {
            font-size: 16px;
            padding: 10px 0;
            margin: 0;
            div {
                padding: 0;
            }
            div:first-child {
                padding: 0 0 0 5px;
            }
        }
        .drilldown-content {
            padding: 0;
        }
        .glyphicon {
            padding: 0 7px 0 0;
        }
        .row {
            margin-top: 0;
            margin-bottom: 0;
        }
        .content-wrapper {
            display: inline-block;
            width: 100%;
            cursor: pointer;
            &.tab-head {
                cursor: default;
            }
            div {
                padding: 8px;
                border-bottom: 1px solid #ddd;
            }
        }
    }
    .song-select-panel {
        margin: 15px 0;
    }
    #world-map {
        .legend {
            h4 {
                font-size: 16px;
                font-weight: 600;
                margin-top: 20px;
            }
            ul li {
                text-align: center;
            }
            .list-inline {
                margin-left: 0;
            }
        }
        padding-top: 20px;
    }
    .selectedSong {
        background: #172a3a;
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
    }
    .row {
        margin-top: 0px;
        padding: 0 10px;
        margin-bottom: 15px;
    }
}