<div class="col-sm-6 col-md-4">
  <div class="thumbnail user-item">
    <!-- <div class="img-wrapper">
      <img ng-src="{{vm.user.photo}}" alt="{{vm.user.name}}">
    </div>
 -->
    <div class="caption">
      <!-- <span inline-edit="vm.user.name" 
        inline-edit-on-click
        inline-edit-btn-edit="">{{vm.user.name}}</span> -->
      <span>{{vm.user.name}}</span>
      <span id="deleteUser" class="glyphicon glyphicon-remove-circle" ng-click="vm.deleteUser(vm.user.id)" title="Delete"></span>
      <a id="editUser" ui-sref="app.edit({ id : vm.user.id})" ui-sref-active="active" class="glyphicon glyphicon-pencil" title="Edit"></a>

      <p>({{vm.user.address}})</p>
    </div>
  </div>
</div>