.reports {
    .report-criteria {
        padding: 20px;
        .left-content {
            width: 47%;
            padding: 0 5px;
            .sales-period {
                margin-bottom: 25px;
                .timepicker {
                    padding-right: 15px;
                }
            }
            .select {
                padding: 15px 0;
                .select-label {
                    padding: 0px;
                    font-weight: bold;
                    width: auto;
                }
                select {
                    padding: 2px;
                }
                .represent {
                    padding: 7px 0;
                }
            }
        }
        .right-content {
            border-left: 1px solid #e2e2e5;
            width: 53%;
            padding-right: 0px;
            .territories,
            .retailers {
                display: inline-block;
                width: 100%;
                p {
                    font-weight: bold;
                }
            }
            .territories {
                padding-bottom: 30px;
            }
        }
    }
}