.reports {
    .report-criteria {
        padding: 20px 10px;
        .left-content {
            width: 43%;
            padding-left: 5px;
            .sales-period {
                margin-bottom: 25px;
                .timepicker {
                    padding-right: 15px;
                }
            }
            .select {
                padding: 10px 0;
                .select-label {
                    padding: 0px;
                    font-weight: bold;
                    width: auto;
                }
            }
        }
        .right-content {
            border-left: 1px solid #e2e2e5;
            width: 57%;
            padding-right: 0px;
            .territories,
            .retailers {
                display: inline-block;
                p {
                    font-weight: bold;
                }
                .selector {
                    padding: 0px;
                    .select-box,
                    .drop-box {
                        list-style-type: none;
                        padding: 0px;
                        width: 200px;
                        background: #fff;
                        height: 200px;
                        overflow: auto;
                        li {
                            cursor: pointer;
                            padding: 5px;
                            &.selected {
                                background: #e2e2e5;
                            }
                        }
                    }
                    .buttons {
                        padding: 0px;
                        margin-top: 60px;
                        width: 110px;
                        a {
                            display: block;
                            margin: 5px;
                            &:hover {
                                background: #fff;
                            }
                        }
                    }
                }
            }
            .territories {
                padding-bottom: 30px;
            }
        }
    }
}