body {
    overflow-x: hidden;
}

.body-artist {
    background: #1a1c22;
}

.body-distributor {
    background: #230118;
}

.body-analyst {
    background: #01172d;
}

.pagination>li>a[disabled=disabled] {
    cursor: default;
    background-color: #eee;
}

.pagination>li>a {
    cursor: pointer;
}

.hide-menu {
    display: none!important;
}

.modal-dialog.modal-lg {
    width: 1080px;
}

.navbar-default{
    &.navMain {
        background: #2C3E50;
        border-radius: 0px!important;
        border: 0px!important;
        margin-bottom: 0px!important;
        .menu {
            font-size: 14px;
            padding: 15px;
        }
        .navbar-right {
            margin-right: 10px;
            .email-notification {
                position: absolute;
                background: #ed680a;
                height: 15px;
                top: 10px;
                right: 5px;
                width: 15px;
                text-align: center;
                line-height: 14px;
                font-size: 10px;
                border-radius: 50%;
                color: white;
            }
            .dropdown {
                .user-menu {
                    padding: 8px 10px 5px;
                }
            }
        }
        .user-thumbnail {
            padding: 0px 5px;
        }
        .user-name {
            padding: 0px 5px;
        }
    }
}

.navMain-artist {
    background: #1a1c22!important;
    .open {
        a.menu,
        a.menu:hover {
            background: #101114!important;
        }
        .dropdown-menu {
            background: #1a1c22!important;
            a {
                color: #b9babd;
            }
            a:hover {
                background: #101114!important;
            }
        }
    }
    .menu {
        color: #b9babd!important;
        &:visited,
        &:hover,
        &:focus {
            background: #101114!important;
        }
    }
    .active {
        .menu {
            background: #101114!important;
            color: #c28103!important;
        }
    }
}

.navMain-distributor {
    background: #320122!important;
    .open {
        a.menu,
        a.menu:hover {
            background: #11000c!important;
        }
        .dropdown-menu {
            background: #320122!important;
            a {
                color: #bcbdc0;
            }
            a:hover {
                background: #11000c!important;
            }
        }
    }
    .menu {
        color: #bcbdc0!important;
        &:visited,
        &:hover,
        &:focus {
            background: #11000c!important;
        }
    }
    .active {
        .menu {
            background: #11000c!important;
            color: #c28103!important;
        }
    }
}

.navMain-analyst {
    background: #011d3a!important;
    .open {
        a.menu,
        a.menu:hover {
            background: #000b16!important;
        }
        .dropdown-menu {
            background: #011d3a!important;
            a {
                color: #bcbdc0;
            }
            a:hover {
                background: #000b16!important;
            }
        }
    }
    .menu {
        color: #bcbdc0!important;
        &:visited,
        &:hover,
        &:focus {
            background: #000b16!important;
        }
    }
    .active {
        .menu {
            background: #000b16!important;
            color: #c28103!important;
        }
    }
}

.app-main {
    margin-top: 46px;
    .leftNav {
        width: 17%;
        padding: 0px;
        ul {
            list-style-type: none;
            padding: 0px;
            li {
                display: block;
                a {
                    font-size:13px;
                    display: block;
                    padding: 17px 11px;
                    i {
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .leftNav-artist {
        background: #13151d;
        ul {
            li {
                border-bottom: 1px solid #000000;
                a {
                    color: #b9babd;
                    &:visited,
                    &:hover,
                    &:focus {
                        background: #101114;
                    }
                }
                &.active {
                    background: #000b16;
                    a {
                        color: #c28103!important;
                    }
                }
            }
        }
    }
    .leftNav-distributor {
        background: #230118;
        ul {
            li {
                border-bottom: 1px solid #000000;
                a {
                    color: #bcbdc0;
                    &:visited,
                    &:hover,
                    &:focus {
                        background: #11000c;
                    }
                }
                &.active {
                    background: #11000c;
                    a {
                        color: #c28103!important;
                    }
                }
            }
        }
    }
    .leftNav-analyst {
        background: #01172d;
        ul {
            li {
                border-bottom: 1px solid #000000;
                a {
                    color: #bcbdc0;
                    &:visited,
                    &:hover,
                    &:focus {
                        background: #000b16;
                    }
                }
                &.active {
                    background: #000b16;
                    a {
                        color: #c28103!important;
                    }
                }
            }
        }
    }
    .view-main {
        width: 83%;
        padding: 0px;
        .content {
            background: #FFFFFF;
            min-height: 800px;
            .container {
                width: auto!important;
            }
        }
    }
    .full-view {
        width: 100%;
    }
}

.hide-menu {
    display: none!important;
}

.c3-tooltip td {
    color: #000;
}

.distributor-widget {
    .c3 line,
    .c3 path {
        stroke: #fff;
    }
    .c3 text {
        fill: #fff;
    }
}

.component-header {
    margin-bottom: 0px;
    height: 60px;
    padding-left: 25px;
    border: 0px;
    border-radius: 0px;
    .component-title {
        color: #9d9ea1;
        line-height: 60px;
        font-size: 20px;
        .component-banner {
            float: right;
            img {
                height: 56px;
                width: 100%;
            }
        }
    }
}

.artist-header {
    background: #0f1117;
}

.analyst-header {
    background: #011121;
}

.distributor-header {
    background: #1e0014;
}

.update-list-component {
    margin: 20px 0 0;
    .form-horizontal {
        .form-group{
            margin-left: 0;
            margin-right: 0;

            .table{
                margin-top: 20px;
                display: inline-block;

                thead{
                    .fa-angle-down::before{
                        cursor: pointer;
                        margin: 0 0 0 5px;
                    }
                }

                tbody {
                    tr{
                        cursor: pointer;
                        
                        &:hover {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }
}

.table {
    thead {
        background-color: #d3d3d3;
        border: 1px solid #d3d3d3;
        border-left: 0;
        border-right: 0;
    }

    thead th {
        color: #1a1c22;
        font-size: 13px;
        input[type=search]{
            width: 100%;
        }
    }
    tbody tr {
        &:hover {
            background-color: #F0F0F0;
        }
    }
    tbody td {
        a {
            text-decoration:none;
            color: #222;
        }
        color: #222;
        border-bottom-color: #d3d3d3;
    }
}