.pagination>li>a[disabled=disabled] {
    cursor: default;
    background-color: #eee;
}

.pagination>li>a {
    cursor: pointer;
}
.app-main {
    margin-top: 60px;
    margin-bottom: 0px;
    min-height: 100vh;
}

.hide-menu {
    display: none!important;
}
.modal-dialog.modal-lg {
    width:1080px;
}


.navMain {
    background-color: #172A3A!important;
    border-radius: 0px!important;
    border: 0px!important;
    margin-bottom: 0px!important;
    .open {
        a.menu,
        a.menu:hover {
            background: #2E4053!important;
        }
        .dropdown-menu {
            background: #34495E!important;
            a {
                color: #FFFFFF;
            }
            a:hover {
                background: #172A3A!important;
            }
        }
    }
    .menu {
        color: #FFFFFF!important;
        font-size: 14px;
        padding: 15px;
        &:visited,
        &:hover,
        &:focus {
            background: #2E4053!important;
        }
    }
    .active {
        .menu {
            background: #2E4053!important;
            color: #F5B041!important;
        }
    }
    .navbar-right {
        .email-notification {
            position: absolute;
            background: #ed680a;
            height: 15px;
            top: 10px;
            right: 5px;
            width: 15px;
            text-align: center;
            line-height: 14px;
            font-size: 10px;
            border-radius: 50%;
            color: white;
        }
        .dropdown {
            .user-menu {
                padding: 8px 0 0;
            }
        }
    }
    .user-thumbnail {
        padding: 0px 5px;
    }
    .user-name {
        padding: 0px 5px;
    }
}

.c3-tooltip td{
    color: #000;
}

.dark-widget{
    .c3 line, .c3 path{
        stroke: #fff;
    }

    .c3 text {
        fill: #fff;
    }
}