.pagination > li > a[disabled=disabled] {
    cursor: default;
    background-color: #eee;
}
.pagination > li > a {
    cursor: pointer;
}
.app-main {
    margin-top: 60px;
    margin-bottom: 0px;
    min-height: 100vh;
}
