.dashboard-wrapper {
    .dashboard-header {
        margin-bottom: 0px;
        height: 60px;
        padding-left: 25px;
        border: 0px;
        border-radius: 0px;
        .dashboard-title {
            line-height: 60px;
            font-size: 20px;
            .dashboard-banner {
                float: right;
                img {
                    height: 56px;
                    width: 100%;
                }
            }
        }
    }
    .artist-header {
        background: #0f1117;
        color: #b9babd;
    }
    .analyst-header {
        background: #011121;
        color: #bcbdc0;
    }
    .distributor-header {
        background: #1e0014;
        color: #bcbdc0;
    }
    .dashboard {
        overflow: hidden;
        padding: 20px 0;
        min-height: 1000px;
        column-gap: 0px;
        .draggable {
            cursor: move
        }
        .widget-wrapper {
            .c3-axis {
                .tick line, .domain {
                    display:none;
                }
            }
            .c3-xgrid, .c3-ygrid {
                stroke-dasharray: 5 0;
                stroke: #f3f3f3;
            }

            float: left;
            height: 500px;
            margin: 14px;
            width: 30.5%;
            .widget-header {
                padding: 15px;
                font-size: 16px;
            }
            .widget-info-wrapper {
                border: 1px solid #e6e6e6;
                border-right: 0px;
                border-left: 0px;
                .widget-info {
                    display: inline-block;
                    width: 48%;
                    text-align: center;
                    margin: 10px 0px;
                    border-right: 1px solid #e6e6e6;
                    .info-title {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .info-value {
                        margin-bottom: 0px;
                    }
                }
                .widget-info:last-child {
                    border-right: none;
                }
            }
            .more-info {
                .widget-info {
                    width: 32%;
                }
            }
            .widget-chart {
                padding: 15px;
            }
        }
        .info-wrapper {
            float: left;
            width: 100%;
            .info-block {
                width: 22.9%;
                height: 75px;
                margin: 25px 10px;
                float: left;
                .info-icon {
                    width: 50px;
                    height: 50px;
                    float: left;
                    border-radius: 50%;
                    margin: 14px;
                }
                .expenses,
                .status {
                    padding: 10px;
                }
                .plays {
                    padding: 12px;
                }
                .sales {
                    img {
                        padding: 10px 12px;
                    }
                }
                .info-right {
                    float: right;
                    padding: 10px;
                    text-align: right;
                    .info-title {}
                    .info-value {
                        font-size: 20px;
                    }
                }
            }
        }
        .artist-widget,
        .artist-block,
        .analyst-widget,
        .analyst-block {
            background-color: #FFFFFF;
            .expenses {
                background: #fba700;
                color: #FFFFFF;
            }
            .plays {
                background: #8a8888;
                color: #FFFFFF;
            }
            .status {
                background: #fe6d00;
                color: #FFFFFF;
            }
            .sales {
                background: #383c46;
            }
        }
        .distributor-widget,
        .distributor-block {
            background-color: #261521;
            color: #FFFFFF;
            .widget-info-wrapper {
                border: 1px solid #40333c;
                border-left:none;
                border-right:none;
                .widget-info {
                    border-right:1px solid #40333c;
                }
            }
            .expenses {
                background: #fba700;
                color: #151517;
            }
            .plays {
                background: #8a8888;
                color: #151517;
            }
            .status {
                background: #00f9fa;
                color: #151517;
            }
            .sales {
                background: #ffffff;
                color: #151517;
            }
        }
    }
    .artist {
        background: #E2E2E5;
    }
    .analyst {
        background: #deedfb;
    }
    .distributor {
        background: #10000b;
    }
}

.dashboard-configuration {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .config-panel {
        padding: 25px;
        padding-bottom: 0px;
        .title {
            font-weight: bold;
            font-size: 16px;
            padding: 10px 20px;
            background-color: #F0F8FF;
        }
        .list {
            ul {
                list-style-type: none;
                padding: 10px;
                li {
                    padding: 10px 0px;
                    input[type="radio"] {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .buttons {
        text-align: center;
        a,
        button {
            width: 75px;
        }
    }
}

.confirm-delete {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .message-text {
        padding: 25px 0px;
    }
    .buttons {
        a,
        button {
            width: 75px;
        }
    }
}

.info-box {
    padding: 15px;
    .message-text {
        padding: 15px 0px;
        text-align: center;
    }
    button {
        width: 55px;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .widget-wrapper {
        float: left;
    }
}