<div class="dashboard-wrapper">
    <div id="dashboardHeader" class="dashboard-header {{vm.dashboard.theme}}-header">
        <div class="dashboard-title">
            <span>Dashboard</span>
            <span class="dashboard-banner"><img src="app/images/banner_{{$root.currentUser.role}}.png" /></span>
        </div>
    </div>
    <div class="dashboard {{vm.dashboard.theme}} ">
        <div ui-sortable="vm.sortOptions " ng-model="vm.dashboard.widgets ">
            <div class="widget-wrapper {{vm.dashboard.theme}}-widget draggable" ng-repeat="widget in vm.dashboard.widgets ">
                <div ng-include="vm.getTemplateUrl()"></div>
            </div>
        </div>
        <div class="info-wrapper">
            <div class="info-block {{vm.dashboard.theme}}-block">
                <div class="info-icon expenses">
                    <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                </div>
                <div class="info-right">
                    <p class="info-title">Total Expenses</p>
                    <p class="info-value">$ 9,982</p>
                </div>
            </div>
            <div class="info-block {{vm.dashboard.theme}}-block">
                <div class="info-icon plays">
                    <i class="fa fa-headphones fa-2x" aria-hidden="true"></i>
                </div>
                <div class="info-right">
                    <p class="info-title">Plays</p>
                    <p class="info-value">1023</p>
                </div>
            </div>
            <div class="info-block {{vm.dashboard.theme}}-block">
                <div class="info-icon status">
                    <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
                </div>
                <div class="info-right">
                    <p class="info-title">Other Status</p>
                    <p class="info-value">290</p>
                </div>
            </div>
            <div class="info-block {{vm.dashboard.theme}}-block">
                <div class="info-icon sales">
                    <img src="app/images/sales_{{$root.currentUser.role}}.png" />
                </div>
                <div class="info-right">
                    <p class="info-title">California Sales</p>
                    <p class="info-value">1023</p>
                </div>
            </div>
        </div>
    </div>
</div>