.component-header {
    margin-bottom: 0px;
    height: 60px;
    padding-left: 25px;
    border: 0px;
    border-radius: 0px;
    .component-title {
        color: #fff;
        line-height: 60px;
        font-size: 20px;
        .component-banner {
            float: right;
            img {
                height: 56px;
                width: 100%;
            }
        }
    }
}
.artist-header {
    background: #000000;
}
.analyst-header {
    background: #00081b;
}
.distributor-header {
    background: #18000c;
}