<ul class="nav nav-navbar navbar-icons">
    <li ui-sref-active="active" ui-sref="app.home"><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i></a></li>
    <li ui-sref-active="active" ui-sref="app.artists"><a href=""><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
    <!-- <li><a href=""><i class="fa fa-briefcase" aria-hidden="true"></i>WORK GROUPS</a></li> -->
    <li ui-sref-active="active" ui-sref="app.songs"><a href=""><i class="fa fa-music" aria-hidden="true"></i></a></li>
    <li ui-sref-active="active" ui-sref="app.songlists"><a href=""><i class="fa fa-list" aria-hidden="true"></i></a></li>
    <li ui-sref-active="active" ui-sref="app.reports"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
</ul>
<ul class="nav nav-navbar navbar-overlay navbar-overlay-{{$root.currentUser.role}}" ng-if="$root.showMenu" ng-animate="animate">
    <li ui-sref-active="active" ui-sref="app.home"><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i>DASHBOARD</a></li>
    <li ui-sref-active="active" ui-sref="app.artists"><a href=""><i class="fa fa-microphone" aria-hidden="true"></i>ARTISTS</a></li>
    <!-- <li><a href=""><i class="fa fa-briefcase" aria-hidden="true"></i>WORK GROUPS</a></li> -->
    <li ui-sref-active="active" ui-sref="app.songs"><a href=""><i class="fa fa-music" aria-hidden="true"></i>SONGS</a></li>
    <li ui-sref-active="active" ui-sref="app.songlists"><a href=""><i class="fa fa-list" aria-hidden="true"></i>SONGS LIST</a></li>
    <li ui-sref-active="active" ui-sref="app.reports"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i>ANALYTIC REPORTING</a></li>
</ul>