<div class="songs-artist-component">
    <div ng-switch on="vm.name">
        <div ng-switch-when="songs">
            <div ng-include="'app/templates/songs/songs.html'"></div>
        </div>
        <div ng-switch-when="artists">
            <div ng-include="'app/templates/artists/artists.html'"></div>
        </div>
        <div ng-switch-when="songlists">
            <div ng-include="'app/templates/songsList/songsList.html'"></div>
        </div>
    </div>
    <side-nav visible="vm.visible" alignment="right" data="vm.detailsData" title="vm.detailsTitle"></side-nav>
</div>