<div class="row">
  <!-- <div class="jumbotron">
    <p>This page will list all of our users registered, you can view the listings, or create your own profile!</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="app.create" role="button">Create Entry</a></p>
  </div> -->
<p><a class="btn btn-primary btn-md" ui-sref="app.addsonglist" role="button">Create Song list</a></p>
<table st-safe-src="vm.songlistslist" st-table="vm.displayCollection"  class="table table-striped">
    <thead>
        <tr>
            <th st-sort="songListName">Name</th>
            <th st-sort="description">Description</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input st-search="songListName" placeholder="search for name" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="description" placeholder="search for description" class="input-sm form-control" type="search"/>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in vm.displayCollection">
            <td>{{row.songListName}}</td>
            <td>{{row.description}}</td>
            <td id="deleteSonglist" class="" ng-click="vm.deleteSonglist(row.id)">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </td>
            <td id="editSonglist" ui-sref="app.editsonglist({ id : row.id})" ui-sref-active="active" class="">
                <span class="glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td colspan="4" ng-show="vm.displayCollection.length===0">
               Your search query has fetched no results
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><a class="btn btn-default" st-export>Export to Excel</a></td>

            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="vm.itemsByPage"></div>
            </td>
        </tr>
    </tfoot>
</table>

</div>