<div class="nav-header {{$root.currentUser.role}}-header">
    <img src="app/images/image_dp_taylor_swift.png" /><h3 class="details-title">{{vm.heading}}</h3>
    <i class="fa fa-times pull-right" ng-click="vm.closeNav()"></i>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="" data-target="#tab1" data-toggle="tab">Details</a></li>
        <li><a href="" data-target="#tab2" data-toggle="tab">Reports</a></li>
        <li><a href="" data-target="#tab3" data-toggle="tab">Social</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="list-group">
                <div class="list-inline list-label">Name</div>
                <div class="list-inline list-detail">{{vm.data.artistName}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Genre</div>
                <div class="list-inline list-detail">{{vm.data.genre}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Instruments</div>
                <div class="list-inline list-detail">{{vm.data.instruments}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Occupation</div>
                <div class="list-inline list-detail">{{vm.data.role}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Type</div>
                <div class="list-inline list-detail">{{vm.data.type}}</div>
            </div>
            <div class="list-group">
                <div class="list-inline list-label">Members</div>
                <div class="list-inline list-detail">{{vm.data.member}}</div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class="profile-picture">
                <img src="app/images/image_taylor_swift.png" />
            </div>
            <div class="report-pane">
                <button type="button" class="btn btn-default btn-report">Artist Sales by Date Range Comparison Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default btn-report">Artist Date over Date Song Comparison Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default btn-report">Artist Songs Sales by Territory / Territory Group Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default btn-report">Artist Songs by City Report <i class="fa fa-arrow-circle-right linkArrow" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div class="social-pane">
                <img src="app/images/image_tab_social.png" />
            </div>
        </div>
    </div>
</div>