<div st-safe-src="vm.songlistslist" st-table="vm.displayCollection" on-filter="onFilter" class="container {{$root.currentUser.role}}-table">
    <div class="clear-filters text-right">
        <a st-reset-filter href="javascript:void(0);" ng-disabled="!vm.isFilterApplied"><i class="fa fa-ban" aria-hidden="true"></i> Clear Filters</a>
    </div>
    <div class="table-component" id="tableComponent">
        <table class="table list-table" id="listTable">
            <thead>
                <tr>
                    <th st-ratio="10"><span st-sort="artistName">Artist/Band Name</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="10"><span st-sort="genre">Genre</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="10"><span st-sort="instruments">Instruments</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="7"><span st-sort="occupation">Role</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="7"><span st-sort="type">Type</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="12"><span st-sort="member">Members</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                </tr>
                <tr ng-show="vm.showFilter">
                    <th>
                        <input st-search="artistName" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="genre" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="instruments" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="occupation" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="type" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="member" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.displayCollection" ng-click="vm.toggleSideNav(row)">
                    <td st-ratio="10">{{row.artistName}}</td>
                    <td st-ratio="10">{{row.genre}}</td>
                    <td st-ratio="10">{{row.instruments}}</td>
                    <td st-ratio="7">{{row.occupation}}</td>
                    <td st-ratio="7">{{row.type}}</td>
                    <td st-ratio="12">{{row.member}}</td>
                </tr>
                <tr>
                    <td colspan="4" ng-show="vm.displayCollection.length===0">
                        Your search query has fetched no results
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><a class="btn btn-default" st-export>Export to Excel</a></td>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="vm.itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>