<div class="widget-header">
    {{widget.header}}
</div>
<div class="widget-info-wrapper more-info">
    <div class="widget-info">
        <p class="info-title">{{widget.info.totalSales}}</p>
        <p class="info-value ">Total Sales</p>
    </div>
    <div class="widget-info">
        <p class="info-title">{{widget.info.openCampaign}}</p>
        <p class="info-value ">Open Campaign</p>
    </div>
    <div class="widget-info">
        <p class="info-title">{{widget.info.dailySales}}</p>
        <p class="info-value ">Daily Sales</p>
    </div>
</div>
<div class="widget-chart">
    <!-- <c3chart bindto-id="chart2">
        <chart-column column-id="x" column-values="{{widget.chart.xLabels}}" />
        <chart-column column-id="Range 1" column-name="{{widget.chart.firstColumnName}}" column-values="{{widget.chart.firstValue}}"
            column-type="bar" />
        <chart-column column-id="Range 2" column-name="{{widget.chart.secondColumnName}}" column-values="{{widget.chart.secondValue}}"
            column-type="bar" />
        <chart-column column-id="Range 3" column-name="{{widget.chart.thirdColumnName}}" column-values="{{widget.chart.thirdValue}}"
            column-type="bar" />
        <chart-column column-id="Range 4" column-name="{{widget.chart.fourthColumnName}}" column-values="{{widget.chart.fourthValue}}"
            column-type="bar" />
        <chart-legend show-legend="false" />
        <chart-axes values-x="x"></chart-axes>
        <chart-axis>
            <chart-axis-x axis-position="outer-center" axis-type="category">
                <chart-axis-x-tick tick-rotate="50" />
            </chart-axis-x>
        </chart-axis>
    </c3chart> -->
    <c3chart bindto-id="chart2" chart-data="widget.chart.datapoints" chart-columns="widget.chart.datacolumns" chart-x="widget.chart.datax">
        <chart-size chart-height="300" chart-width="350" />
        <!-- <chart-bar ratio="0.5" /> -->
        <chart-axes values-x="x" />
        <chart-axis>
            <chart-axis-x axis-position="outer-center" axis-type="category">
                <chart-axis-x-tick tick-rotate="50" />
            </chart-axis-x>
        </chart-axis>
        <chart-legend show-legend="false" />
    </c3chart>
</div>