<div class="widget-header">
    {{widget.header}}
</div>
<div class="widget-info-wrapper more-info">
    <div class="widget-info">
        <p class="info-title">{{widget.info.totalSales}}</p>
        <p class="info-value ">Total Sales</p>
    </div>
    <div class="widget-info">
        <p class="info-title">{{widget.info.openCampaign}}</p>
        <p class="info-value ">Open Campaign</p>
    </div>
    <div class="widget-info">
        <p class="info-title">{{widget.info.dailySales}}</p>
        <p class="info-value ">Daily Sales</p>
    </div>
</div>
<div class="widget-chart">
    <c3chart bindto-id="{{widget.chart.id}}" chart-data="widget.chart.datapoints" chart-columns="widget.chart.datacolumns" chart-x="widget.chart.datax">
        <!-- <chart-bar ratio="0.5" /> -->
        <chart-axes values-x="x" />
        <chart-axis>
            <chart-axis-x axis-position="outer-center" axis-type="category">
                <chart-axis-x-tick tick-rotate="90" />
            </chart-axis-x>
        </chart-axis>
        <chart-legend show-legend="true" />
    </c3chart>
</div>