<div class="widget-header">
    {{widget.header}}
</div>
<div class="widget-info-wrapper more-info">
    <div class="widget-info">
        <p class="info-title">{{widget.info.totalSales}}</p>
        <p class="info-value ">Total Sales</p>
    </div>
    <div class="widget-info">
        <p class="info-title">{{widget.info.openCampaign}}</p>
        <p class="info-value ">Open Campaign</p>
    </div>
    <div class="widget-info">
        <p class="info-title">{{widget.info.dailySales}}</p>
        <p class="info-value ">Daily Sales</p>
    </div>
</div>
<div class="widget-chart">
    <c3chart bindto-id="chart2">
        <chart-column column-id="Range 1" column-values="{{widget.chart.firstValue}}" column-type="bar" />
        <chart-column column-id="Range 2" column-values="{{widget.chart.secondValue}}" column-type="bar" />
        <chart-legend show-legend="false" />
        <chart-size chart-height="300" chart-width="350" />
    </c3chart>
</div>