<!-- <c3chart bindto-id="chart1">
  <chart-column column-id="data 1" column-values="30,200,100,400,150,250" column-type="spline"/>
  <chart-column column-id="data 2" column-values="50,20,10,40,15,25" column-type="line"/>
</c3chart> -->

<div class="panel panel-default" ng-if="vm.jsonSongs.length > 0">
    <div class="panel-heading"><h4>Edit your songs</h4></div>
    <div class="panel-body">
        <div ng-if="vm.dataLoading">
            Loading...
        </div>
        <div class="alert alert-info" ng-if="vm.successmsg">
           {{vm.successmsg}}
        </div>
        <div class="table-responsive table-component">
            <table st-safe-src="vm.jsonSongs" st-table="vm.displayCollection" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th ng-repeat="(key, value) in vm.jsonSongs[0]" st-sort="{{key}}">{{key}}</th>
                    </tr>
                    <tr>
                        <th ng-repeat="(key, value) in vm.jsonSongs[0]">
                            <input st-search="{{key}}" placeholder="Search" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,row) in vm.displayCollection">
                        <td ng-repeat="(k,val) in vm.displayCollection[key]">
                            <div ng-if="vm.notIE" inline-edit="vm.displayCollection[key][k]" inline-edit-btn-save="Save" inline-edit-btn-cancel="Cancel" inline-edit-on-click inline-edit-textarea></div>
                            <div ng-if="!vm.notIE" inline-edit="vm.displayCollection[key][k]" inline-edit-btn-save="Save" inline-edit-btn-cancel="Cancel" inline-edit-on-click></div>
                        </td>
                    </tr>
                    <tr>
                    <td colspan="100%" ng-show="vm.displayCollection.length===0">
                        Your search query has fetched no results
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-center" style="position: sticky;left: 0;border: none;">
                            <div st-pagination="" st-items-by-page="vm.itemsByPage" style="float: left" ></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div style="position: sticky;left: 0;">
                <button id="confirmUpload" type="submit" class="btn btn-success" ng-click="vm.updateConfirm()">Confirm Submit</button>
                <button id="cancelUpload" type="button" class="btn btn-default" ng-click="vm.cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>
</div>
