<div class="panel panel-default" ng-if="vm.dataLoading==undefined">
    <div class="panel-heading"><h4>Upload Songs</h4></div>
    <div class="panel-body">
        <input name="file" type="file" id="importFile" custom-on-change="vm.uploadXmlFile" />
        <div ng-show="vm.file.size > 0">
            <span>{{vm.file.webkitRelativePath || vm.file.name}}</span> (
            <span ng-switch="vm.file.size > 1024*1024">
            <span ng-switch-when="true">{{vm.file.size / 1024 / 1024 | number:2}} MB</span>
            <span ng-switch-default>{{vm.file.size / 1024 | number:2}} kB</span>
            </span>)
            <input class="btn btn-primary" type="button" ng-click="vm.uploadXml()" value="Upload" />
        </div>
    </div>
</div>
<div ng-if="vm.dataLoading">
    Loading...
</div>
<div class="alert alert-info" ng-show="vm.dataLoading === false">
   {{vm.successmsg}}
</div>
<div class="jumbotron" ng-if="vm.showRedirectBtn">
    <p>You can view and edit all songs <button ng-click="vm.called()">here</button></p>
</div>
<div class="panel panel-default" ng-if="vm.jsonSongs.length > 0">
    <div class="panel-heading"><h4>Edit your songs data before submit</h4></div>
    <div class="panel-body">
        <div class="table-responsive">
            <table st-safe-src="vm.jsonSongs" st-table="vm.displayCollection" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th ng-repeat="(key, value) in vm.jsonSongs[0]" st-sort="{{key}}">{{key}}</th>
                    </tr>
                    <tr>
                    	<th ng-repeat="(key, value) in vm.jsonSongs[0]">
                        	<input st-search="{{key}}" placeholder="{{key}}" class="input-sm form-control" type="search"/>
                    	</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,row) in vm.displayCollection">
                        <td ng-repeat="(k,val) in vm.displayCollection[key]">
                            <div inline-edit="vm.displayCollection[key][k]" inline-edit-btn-save="Save" inline-edit-btn-cancel="Cancel" inline-edit-on-click inline-edit-textarea></div>
                        </td>
                    </tr>
                    <tr>
                    <td colspan="100%" ng-show="vm.displayCollection.length===0">
                        Your search query has fetched no results
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-center" style="position: sticky;left: 0;border: none;">
                            <div st-pagination="" st-items-by-page="vm.itemsByPage" style="float: left"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div style="position: sticky;left: 0;">
                <button id="confirmUpload" type="submit" class="btn btn-success" ng-click="vm.updateConfirm()">Confirm Submit</button>
                <button id="cancelUpload" type="button" class="btn btn-default" ng-click="vm.cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>
</div>
