.report-panel{
    padding: 20px;
}

.reports.panel-default{
    margin-bottom: 0px!important;
    & > .panel-heading {
        span {
            margin-top: -20px;
            font-size: 15px;
        }
    }

    & > .artist-heading{
        background-color: #1a1c22;
        color: #b9babd;
    }

    & > .analyst-heading{
        background-color: #01172d;
        color: #b9babd;
    }

    & > .distributor-heading{
        background-color: #230118;
        color: #b9babd;
    }
}

.fav {
    color:grey;
    padding-left: 15px;
    &:hover {
        color: #bf2d2d;
    }
    &.selected {
        color:#bf2d2d;
    }
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}

.no-map-data {
    width: 100%;
    height: 200px;
    font-size: 20px;
    color: gray;
    padding: 70px 20%;
    text-align: center;
}

.loader {
    position: relative;
    left: 50%;
    top:20px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #F5B041;
    /* orange */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clickable {
    cursor: pointer;
}

#confirmSubmit:hover {
    opacity: 0.8;
}

#confirmSubmit {
    border-color: #c28103 !important;
    background: #c28103 !important;
    color: #fff;
}

.timepicker a {
    color: #172a3a;
    &:hover,
    &:focus {
        text-decoration: none;
        color: grey;
    }
}

.error-alert {
    color: #a94442;
}

.btn.selected {
    background: #337ab7;
    color: white;
}

.selected.btn:hover,
.selected.btn:focus {
    color: white;
}

.timepicker {
    padding-right: 20px;
    display: inline-block;
}

.graph-type-labels {
    margin-top: 20px;
    .btn.btn-primary {
        background-color: gray;
        border-color: gray;
    }
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn:hover,
    .btn:focus,
    .btn.focus {
        background: #F5B041 !important;
        color: #000;
        border-color: #F5B041 !important;
    }
    .btn-primary:active,
    .btn-primary.active {
        color: #000;
        background: #F5B041 !important;
        border-color: #F5B041 !important;
    }
    .btn {
        float: right;
        margin-right: 10px;
        border-radius: 20px;
        text-transform: capitalize;
    }
}


.tab-head {
    color: #337ab7;
}

.drilldown {
    table tr td {
        cursor: pointer;
        i {
            color: grey;
        }
    }
    padding-top: 20px;
    padding-bottom:60px;
}

#world-map {
    .btn {
        &.active {
            &:hover {
                opacity: 1;
            }
            background:#F5B041;
            border-color:#F5B041;
            color: #000;
        }
        background:gray;
        border-color :gray;
    }
    .btn:hover {
        opacity: 0.8;
    }
    padding-top: 20px;
}

.selectedSong {
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    &.distributor-heading{
        background-color: #230118;
        color: #b9babd;
    }
    &.artist-heading{
        background-color: #1a1c22;
        color: #b9babd;
    }

    &.analyst-heading{
        background-color: #01172d;
        color: #b9babd;
    }

}