<nav class="navbar navbar-fixed-top navbar-default navMain navMain-{{$root.currentUser.role}}">
    <div class="container-fluid">
        <div class="navbar-header icon" id="navigationMenuButton">
            <a class="navbar-brand" ng-if="!$root.showMenu" ng-click="$root.showMenu=true"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <a class="navbar-brand" ng-if="$root.showMenu" ng-click="$root.showMenu=false"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"><img src="app/images/logo.png" /></a>
        </div>
        <div class="navbar-collapse" id="navigationMenu">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ui-sref="app.home"><a class="menu" href="">HOME</a></li>
                <li ui-sref-active="active" ui-sref="app.artists"><a class="menu" href="">ARTISTS</a></li>
                <li ui-sref-active="active" ui-sref="app.songs"><a class="menu" href="">SONGS</a></li>
                <li ui-sref-active="active" ui-sref="app.songlists"><a class="menu" href="">SONG LISTS</a></li>
                <li ui-sref-active="active" ui-sref="app.reports"><a class="menu" href="">ANALYTIC REPORTING</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="menu" href="">CONTACT US</a></li>
                <li><a class="menu" href="">HELP</a></li>
                <li><a class="menu"><i class="fa fa-envelope" aria-hidden="true"><i class="email-notification">3</i></i></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle menu user-menu" data-toggle="dropdown" href="javascript:void(0)">
                        <img class="user-thumbnail" src="app/images/{{$root.currentUser.role}}.png" />
                        <span class="user-name">Welcome {{$root.currentUser.firstName}}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="text-transform: capitalize;"><a>{{$root.currentUser.role}}</a></li>
                        <li><a>({{$root.currentUser.email}})</a></li>
                        <li><a>Settings</a></li>
                        <li><a>Change Password</a></li>
                        <li><a ui-sref="app.login">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>