<div st-safe-src="vm.songlistslist" st-table="vm.displayCollection" on-filter="onFilter" class="container {{$root.currentUser.role}}-table">
    <div class="pull-left text-left list-header">My Song Lists</div>
    <div class="pull-right text-right action-buttons"><button type="button" class="btn btn-primary btn-action" ui-sref="app.addsonglist" role="button">Create New Songs list <i class="fa fa-list-ul"></i></button></div>
    <div class="clear-filters text-right">
        <a st-reset-filter href="javascript:void(0);" ng-disabled="!vm.isFilterApplied"><i class="fa fa-ban" aria-hidden="true"></i> Clear Filters</a>
    </div>
    <div class="table-component" id="tableComponent">
        <table class="table list-table songlist-table">
            <thead>
                <tr>
                    <th st-ratio="7"><span st-sort="id">ID/Code</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="12"><span st-sort="songListName">Song List Name</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="18"><span st-sort="description">Description</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="9"><span st-sort="userCount">No. of Users</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="9"><span st-sort="secWorkGroup">Sec-Work Group</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="9"><span st-sort="secOrg">Sec Org.</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="9"><span st-sort="artistsCount">No. of Artists</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="9"><span st-sort="songsCount">No. of Songs</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="7"><span st-sort="rank">Rank</span> <i class="fa fa-angle-down" ng-click="vm.showFilter=vm.showFilter?false:true" aria-hidden="true"></i></th>
                    <th st-ratio="5">Delete</th>
                    <th st-ratio="5">Edit</th>
                </tr>
                <tr ng-show="vm.showFilter">
                    <th>
                        <input st-search="id" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="songListName" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="description" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="userCount" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="secWorkGroup" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="secOrg" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="artistsCount" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="songsCount" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="rank" placeholder="Search" class="input-sm form-control" type="search" />
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.displayCollection">
                    <td st-ratio="7">{{row.id}}</td>
                    <td st-ratio="15">{{row.songListName}}</td>
                    <td st-ratio="15">{{row.description}}</td>
                    <td st-ratio="9">{{row.userCount}}</td>
                    <td st-ratio="9">{{row.secWorkGroup}}</td>
                    <td st-ratio="9">{{row.secOrg}}</td>
                    <td st-ratio="9">{{row.artistsCount}}</td>
                    <td st-ratio="9">{{row.songsCount}}</td>
                    <td st-ratio="9">{{row.rank}}</td>
                    <td st-ratio="5" id="deleteSonglist" class="text-center">
                        <i class="fa fa-trash" title="Delete List" aria-hidden="true" ng-click="vm.deleteSonglist(row.id)"></i>
                    </td>
                    <td st-ratio="5" class="text-center">
                        <i class="fa fa-pencil" title="Edit List" aria-hidden="true" id="editSonglist" ui-sref="app.editsonglist({ id : row.id})"
                            ui-sref-active="active"></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" ng-show="vm.displayCollection.length===0">
                        Your search query has fetched no results
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><a class="btn btn-default" st-export>Export to Excel</a></td>

                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="vm.itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>